---
layout: default
category: home
full_title: Asiasilvervine
---
<div itemscope itemtype="http://schema.org/ImageObject">
  <amp-carousel width="1920" height="700" layout="responsive" type="slides" autoplay delay="3500">
    <a itemprop="url" href="{{ site.url }}/products/cat-toy-with-silver-vine.html"><amp-img src="{{ site.url }}/images/home/billboard-cat-toy.jpg" width="1920" height="700" layout="responsive" alt="Cat Toy"></amp-img></a>
    <a itemprop="url" href="{{ site.url }}/products/cat-teaser-with-silver-vine.html"><amp-img src="{{ site.url }}/images/home/billboard-cat-teaser.jpg" width="1920" height="700" layout="responsive" alt="Cat Teaser"></amp-img></a>
    <a itemprop="url" href="{{ site.url }}/products/cat-tree-with-silver-vine.html"><amp-img src="{{ site.url }}/images/home/billboard-cat-tree.jpg" width="1920" height="700" layout="responsive" alt="Cat Tree"></amp-img></a>
  </amp-carousel>
</div>
<div class="container margin-top-40">
  <div class="row">
    <div class="col-lg-6 col-md-6 margin-btm-20 hidden-xs">
      <div class="img-width-800 image-margin-center">
        <a href="https://youtu.be/Zgc0zEkmHrY" target="_blank"><amp-img itemprop="image" src="{{ site.url }}/images/home/about.jpg" width="800" height="627" layout="responsive" alt="{{ post.title }}"></amp-img></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <h3><span class="text-green">Learn More About Asiasilvervine</span></h3>
      <h3>Unique Silvervine Cats’ Favorite Toys Supplier</h3>
      <p>Are you looking for the best and highest quality cat toys supplier in China? If so, ASIASILVERVINE CAT TOYS got exactly what you need, We has become known by creativeness, reliability, high quality, high efficiency, and most important competitive Asia silver vine cat toys.</p>
      <div class="hidden-xs">
        <p>Cat toys</p>
        <p>Cat teaser</p>
        <p>Cat tree</p>
        <p>Cat bed</p>
      </div>
      <a href="{{ site.url }}/about/" class="button bg-green">Read More</a>
    </div>
  </div>
</div>
<div class="bg-dark">
  <div class="container margin-btm-20">
    <h3 class="text-center margin-top-40">WHAT WE CAN OFFER<br><span class="text-green">Asiasilvervine Cat Products</span></h3>
    <div class="row margin-btm-40">{% for post in site.categories["products"] %}
      <div class="col-lg-3 col-md-6">
        <div class="shop-item">
          <div class="shop-thumbnail">
            <a href="{{ site.url }}{{ post.url }}" class="item-link"></a>
            <div class="img-width-973 image-margin-center">
              <amp-img itemprop="image" src="{{ site.url }}/images/home/{{ post.image }}.jpg" width="973" height="615" layout="responsive" alt="{{ post.title }}"></amp-img>
            </div>
          </div>
          <div class="shop-item-details">
            <h3 class="shop-item-title text-center"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </div>
</div>
<div class="container margin-top-40 margin-btm-40">
  <h3 class="text-center">Learn More About How To Buy the cat products?<br><span class="hidden-xs">Want to learn how to identify bad quality cat products?</span></h3>
  <div class="row">{% for post in site.categories["blog"] limit:3 %}
    <div class="col-lg-4 col-md-4">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="{{ site.url }}{{ post.url }}" class="item-link"></a>
          <div class="img-width-800 image-margin-center">
            <amp-img itemprop="image" src="{{ site.url }}/images/blog/{{ post.image }}.jpg" width="800" height="533" layout="responsive" alt="{{ post.title }}"></amp-img>
          </div>
        </div>
        <div class="shop-item-details">
          <h4 class="text-center blog-post-title margin-left-10 margin-right-10"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
          <p class="text-center margin-left-10 margin-right-10">{{ post.date | date:"%d %b %Y" }}</p>
          <div class="text-center"><a href="{{ site.url }}{{ post.url }}" class="button bg-green">Read More</a></div>
        </div>
      </div>
    </div>{% endfor %}
  </div>
</div>