---
layout: pages
---
<div class="row">
  <div class="col-lg-6 col-md-6 margin-btm-40 image-margin-center">{% if page.pic == 'one' %}
    <div class="img-width-973">
      <amp-img itemprop="image" src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ post.title }}"></amp-img>
    </div>{% else %}
    <amp-carousel width="973" height="615" layout="responsive" type="slides" autoplay delay="3500">{% if page.pic == 'two' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'three' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'four' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-4.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'five' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-4.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-5.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'six' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-4.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-5.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-6.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'seven' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-4.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-5.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-6.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-7.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}{% if page.pic == 'eight' %}
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-1.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-2.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-3.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-4.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-5.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-6.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-7.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>
      <amp-img src="{{ site.url }}/images/products/{{ page.type-en }}-{{ page.model }}-8.jpg" width="973" height="615" layout="responsive" alt="{{ page.title }}"></amp-img>{% endif %}
    </amp-carousel>{% endif %}
  </div>
  <div class="col-lg-6 col-md-6 margin-btm-40">
    <h2>{{ page.title }}</h2>
    <p><i class="far fa-check-circle"></i> Item: <span itemprop="model">No.{{ page.model }}</span></p>
    <p><i class="far fa-check-circle"></i> Material: <span itemprop="review">{{ page.material }}</span></p>
    <p><i class="far fa-check-circle"></i> Feature: <span itemprop="review">{{ page.feature }}</span></p>{% if page.type == 'Cat Tree' %}
    <p><i class="far fa-check-circle"></i> Product Size(LxWxH): <span itemprop="review">{{ page.length }} x {{ page.width }} x {{ page.height }} cm</span></p>{% endif %}
    <a href="mailto:{{ site.email }}" class="button bg-green button-round">Email: {{ site.email }}</a>
  </div>
  <div class="col-lg-12">
    <hr>
    <h3 class="margin-top-40 margin-btm-30 text-center">You May Also Like</h3>
    {% include products-list.html %}
  </div>
</div>